.container {
  height: 100vh;
  width: 100vw;
  background-color: #f3f4f6; /* Light gray */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  background-color: #3b82f6;
  padding: 5px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.button {
  background-color: white;
  width: 100px;
  color: #3b82f6;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  flex: none;
}

.button:hover {
  background-color: #60a5fa; /* Lighter blue */
  color: white;
}

.body {
  padding: 2rem;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeText {
  font-size: 2rem;
  font-weight: bold;
  color: #111827; /* Dark gray */
}

.loggedInText {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #059669; /* Green */
}
