/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  color: #fff;
}



.navbar {
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  margin: 0 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}
